# Build artifacts and packaged binaries
python_files/annotation tool/build/
python_files/annotation tool/dist/
python_files/annotation tool/*.zip
python_files/annotation tool/**/*.exe
python_files/annotation tool/**/*.pkg

*.pptx
